.hidden {
	display: none;
}

img {
	border-style: solid;
	border-color: white;
}

img.over {
	opacity: 0.9;
	border-style: solid;
	border-color: gray;
}

div.images {
	width: 310px;
	height: 235px;
	float: left;
	text-align:center;
}

img:hover, img.property_hidden:hover {
	border-color: #FF6600;
}

p {
	margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    color: #CC3300;
}

div.forms {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.navigation {
    text-align:center;
}

a {
	text-decoration: none;
}

div#set {
	width: 1164px;
	text-align:justify;
}

div.outputimages {
	position: relative;
}

span.facemarks {
	position: absolute;
	border: 3px solid;
	color: red;
	
}