img {
	padding: 1px;
	border: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	vertical-align:middle;
	margin: 1px;
	
}	

img:hover, img.property_hidden:hover {
	border-color: #FF6600;
}

img.selected {
	opacity: 0.5;
}

img.property_hidden {
	opacity: 0.5;
	border-color: #669900;
}

.break {
	height: 10px;
	border-bottom: solid 2px;
	border-color: #CCCCCC;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	
}